<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!-- ID приложения -->
    <add key="client_id" value="6610408" />
    <!-- Защищённый ключ (не юзается) -->
    <add key="client_secret" value="IXIehCixfDd3rHiXxOHn" />
    <!-- Сервисный ключ доступа -->
    <add key="service_key" value="6523667d6523667d6523667daa6547bb95665236523667d3e0a32345be0383eea29fc0a" />
    <!-- Версия API -->
    <add key="version" value="5.84" />
    <!-- Пользовательский ключ доступа -->
    <add key="user_key" value="" />
    <!-- Расположение бд -->
    <add key="db_destination" value="" />
  </appSettings>
</configuration>